<div class="footer">
    <div class="footer-menu">
      <div class="footer-logo"><img src="logo-white.png" /></div>
      <div class="f-menu">
        <ul>
          <li>Privacy Policy</li>
          <li>Terms & Conditions</li>
          <li>Blog</li>
          <li>Support</li>
        </ul>
      </div>
      <div class="social">
        <i class="fab fa-discord"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
      </div>
    </div>
    <div class="copyright">Copyright © SmellyCat 2024</div>
  </div>
