<div class="contact_form">
  <h1>Contact us</h1>
  <p>
    We are all cat persons, so if you got any question, drop it below and we
    will contact you back!
  </p>
  <form>
    <div class="form">
      <div class="form-name">
        Your Full Name
        <input type="text" placeholder="Type your name" required />
      </div>
      <div class="form-email">
        Your Email
        <input type="text" placeholder="Type your email" required />
      </div>
      <hr />
      <div class="form-addr">
        <div class="form-city">
          <div>City</div>
          <input type="text" placeholder="ex Thessaloniki" />
        </div>
        <div class="form-postalcode">
          <div>Postal Code</div>
          <input type="text" placeholder="ex 54658" />
        </div>
      </div>
      <div class="form-address">
        <div>Address</div>
        <input type="text" placeholder="ex Thessaloniki" />
      </div>
      <div class="form-message">
        <div class="message-info">
          <span>Your Message</span>
          <span class="optional">Optional</span>
        </div>
        <input
          class="message-text"
          type="textfield"
          optional
          placeholder="Type your message"
        />
      </div>
      <div class="agree_terms">
        <input type="checkbox" required />
        I agree with the Terms & Conditions
      </div>

      <button type="submit">Send!</button>
    </div>
  </form>
</div>
